
@font-face {  
    font-family: "256-Bytes";
    src: url("../Fonts/256 bytes.otf") format("opentype");
}
@font-face {  
    font-family: "PT-Mono";
    src: url("../Fonts/PTMono-Regular.ttf") format("truetype");
}

body {
    background-color: #cc5e52;
    color:  white;
    background-image: url("../Images/Grid Background.png");
}

.article-header {
    width: calc(100% / 3);
    height: auto;
    margin: 0 auto;
    text-overflow: clip;
    overflow-wrap: break-word;
    font-family: "256-Bytes";
    font-size: 24px;
}

.article-container {
    border: 40px solid transparent;
    border-image: url("../Images/Grid Border.png") 30 round;
    border-image-repeat: stretch;
    background-image: url("../Images/Faded Grid Background.png");
    image-rendering: pixelated;
    padding: 10px;
    font-family: "PT-Mono";
    font-size: 16px;
}

.article-logo {
    position: fixed;
    bottom: 0;
    width: calc(100% / 3);
    text-align: center;
}
.article-logo img {
    max-width: 65%;
    height: auto;
    transform: translateY(10px);
}
