.unity-toggle__checkmark {
    min-width: 70px;
    min-height: 70px;
}

.titlescreenbuttons {
    background-color: rgb(206, 94, 86);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    -unity-font-definition: url('project://database/Assets/UI/Fonts/PTMono-Regular.ttf?fileID=12800000&guid=cc1735a3c585aba4480bc03c8d93b029&type=3#PTMono-Regular');
    color: rgb(255, 255, 255);
    font-size: 40px;
    -unity-text-align: middle-center;
    max-height: 70px;
    flex-grow: 1;
}

.titlescreenboxes {
    background-color: rgba(206, 94, 86, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -unity-font-definition: url('project://database/Assets/UI/Fonts/PTMono-Regular.ttf?fileID=12800000&guid=cc1735a3c585aba4480bc03c8d93b029&type=3#PTMono-Regular');
    color: rgb(255, 255, 255);
    font-size: 40px;
    -unity-text-align: upper-left;
}

.titlescreenboxes {
    background-color: rgba(206, 94, 86, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -unity-font-definition: url('project://database/Assets/UI/Fonts/PTMono-Regular.ttf?fileID=12800000&guid=cc1735a3c585aba4480bc03c8d93b029&type=3#PTMono-Regular');
    color: rgb(255, 255, 255);
    font-size: 40px;
    -unity-text-align: upper-left;
}

.unity-base-slider__tracker {
    background-color: rgb(206, 94, 86);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    align-self: center;
    justify-content: center;
    align-items: auto;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    flex-grow: 0;
    flex-direction: row;
    margin-top: -17.5px;
    height: 35px;
}

.unity-base-slider__input {
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
}

.unity-base-slider__text-field {
    width: 100px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    background-color: rgb(203, 90, 79);
}

.unity-base-slider__dragger {
    min-height: 70px;
    position: relative;
    align-self: auto;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    background-color: rgb(255, 255, 255);
}

.unity-base-field__input {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(0, 0, 0, 0);
    -unity-text-align: upper-center;
    align-self: center;
    align-items: center;
    min-height: 70px;
}
